@use "pkg:@fontsource-utils/scss" as fontsource;
@use "pkg:@fontsource-variable/league-spartan/scss" as leagueSpartanVariabale;

@include fontsource.faces($metadata: leagueSpartanVariabale.$metadata, $weights: 400, $subsets: latin);

$font: "League Spartan Variable";

body {
  font-family: $font;
}

.hdr-check-result {
  font-variant: small-caps;

  &.success {
    font-weight: bold;
    font-size: large;
    font-style: italic;
    color: green;

    &::after {
      margin-left: 0.4rem;
      content: "✔";
      margin-right: 0.4rem;
      font-size: x-large;
    }
  }

  &.fail {
    font-weight: 200;
    font-size: small;
    color: red;

    &::after {
      margin-left: 0.4rem;
      content: "✘";
      margin-right: 0.8rem;
      font-size: x-large;
    }
  }
}

.canvas-renderer {
  width: 70%;
  border-radius: 1em;
  background-color: black;
}
